$bg-color-main-body: lightblue;
$fg-color-main-body: black;
$bg-color-main-panel: skyblue;
$fg-color-location: maroon;
$fg-color-sign: gold;
$fg-warning-color: red;
$font-size-location: 18pt;
$border-color: gray;

@mixin flex-settings {

  .main-panel,
  .day-panel {
    background: $bg-color-main-panel;
    border: 1px solid $border-color;
    line-height: 1.5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  }

  .main-panel {
    padding: 20px;  
    border-radius: 10px;
  }

  .day-panel {
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 7px 0 7px 0;
  }

  .center {
    width: 100%;
    text-align: center;
  }

  .header,
  .footer {
    padding: 20px 0 20px 0;
    flex-direction: column;
  }

  .favorites,
  .history {
    width: 100%;
    text-align: center;

    input[type="text"] {
      width: 70%;
    }
  }

  .favorites {
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .loc-field {

    input[type="text"] {
      width: 220px;
    }
  }

  .base-units {
    min-width: 60px;
  }

  .left-panel,
  .right-panel {
    min-height: 150px;
    flex-direction: column;
  }

  .left-panel {
    width: 70%;
    align-content: left;
    align-items: left;
    text-align: left;
  }

  .left-bottom {
    line-height: 1.0;
  }

  .right-panel {
    width: 30%;
    align-content: right;
    align-items: right;
    text-align: right;
  }

  .right-top {
    width: 100%;
  }

  .right-bottom {
    width: 100%;
    font-size: 12pt;
    line-height: 1.1;
  }

  .title,
  .controls {
    width: 100%;
    text-align: center;
  }
}

@keyframes movingToRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.moving-to-right {
  animation: movingToRight 1.5s ease-out;
}

@keyframes movingToLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.moving-to-left {
  animation: movingToLeft 1.5s ease-out;
}

@keyframes showingUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.showing-up {
  animation: showingUp 1s ease-out 1.5s;
  animation-fill-mode: backwards;
}